body {
    background-color: #F6F8F9;
    overflow: hidden;
}

.App {
    height: 100vh;
    overflow-x: scroll;
}

.mt-2 {
    margin-top: 1em;
}
.mt-4 {
    margin-top: 2em;
}

.mt--2 {
    margin-top: -1em;
}

.mb-2 {
    margin-bottom: 1em!important;
}

.ml-4 {
    margin-left: 2em;
}

.float-right {
    float: right;
}

.hide-overflow {
    overflow: hidden;
}

.app-bar {
    height: 3.5em;
    /* box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15); */
}

.board {
    height: calc(100% - 42px);
    width: 100%;
}

.scroll-overflow {
    height: auto;
}

.d-flex {
    display: flex;
    flex-direction: row;
}

.list-responsive {
    align-self: flex-start;
    max-width: 280px;
    min-width: 280px;
    padding: 1.2em;
}


.card-header {
    margin-top: 1em!important;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

.ui.card>.content {
    padding: 0 1em 1em;
    overflow-wrap: break-word;
    white-space: pre-line;
}

.card__labels__1 {
    height: 8px;
    width: 4em;
    background-color: #EC4A9D;
    border-radius: 5em;
    margin: 1.5rem 0 -0.5rem 1.1rem;
  }
  
  .card__labels__2 {
    height: 8px;
    width: 4em;
    background-color: #2CC6AB;
    border-radius: 5em;
    margin: 1.5rem 0 -0.5rem 1.1rem;
  }
  .card__labels__3 {
    height: 8px;
    width: 4em;
    background-color: #09A9ED;
    border-radius: 5em;
    margin: 1.5rem 0 -0.5rem 1.1rem;
  }

  .card__labels__4 {
      display: none;
  }

.anim-from-top {
    transform-origin: top;
}

.ui.card > .image {
    background: none;
}

.ui.card .card-header.pointed {
    cursor: pointer;
}

.ui.card > .content {
    border-top: none;
}

.card-norad {
    border-radius: 0;
}